a {
  text-decoration: none;
}

// .main {
//   background: #f8f8f8;
// }

.big-bag {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
#home {
  background-image: image_url("main-big.jpeg"), radial-gradient(#c9ffbf, #ffafbd);
  background-blend-mode: luminosity;
  min-height: 100vh;
}

#home .service-title {
  text-transform: none;
}

.top-page-header {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
  display: flex;
  flex-direction: column;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
  list-style: none;
}

.about {
  text-decoration: none;
  font-weight: 20px;
  line-height: 32px;  
  margin-right: 3vw;
  color: red;
}

.login-1 {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: red;
}

.sign-up-1 {
  text-decoration: none;
  color:red;
}

/* 画面上部の「IMPROVE YOUR SKILLS」帯部分 */
.title-contents {
  // padding: 5vh 15vw;
  // color: #fff;
  width: 100vw;
  text-align: center;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-title {
  font-size: 10vh;
  font-family: 'philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
  text-shadow: 0 10px 20px rgba(223, 212, 56, 0.65);
  color: #0bd;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
  margin: 0 0 42px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
  color: #0bd;
}

.explain {
  font-size: 0.5vh;
}
.button {
  font-size: 1.375rem;
  background: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
  margin-bottom: 10px;
}

.button:hover {
  background: #0090aa;
}
.second_button {
  font-size: 1.375rem;
  background: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 10px 22px;
}

.second_button:hover {
  background: #0090aa;
}

/* //画面上部の「IMPROVE YOUR SKILLS」帯部分 */