.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  align-items: center;
}

.login-red-btn {
  width: 100%;
  background: lightsalmon;
  border-radius: 5px;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}

.other-reg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
}

.sign-up-log {
  font-size: 18px;
}

.forgot-pass {
  font-size: 18px;
}