// 投稿一覧

.post-contents {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 10vh 0;
}

main {
  width: 74%;
}

.title {
   background-color: lightsalmon;
   border-radius: 50px;
   color: #fff;
   width: 100px;
   height: 100px;
   font-size: 1.625rem;
   padding: 10px 0 0 15px;
   margin-left: 50%;
 }

.post-lists {
  width: 70vw;
  display: grid;
  gap: 26px;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  list-style: none;
}

.post-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.post-img-content {
  position: relative;
}

.post-img {
  width: 33vh;
  height: 33vh;
}

.post-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.post-title {
  font-size: 2.5vh;
}

.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

.post-btn {
  width: 120px;
  background: lightsalmon;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.post-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.post-btn-icon {
  width: 60%;
}

/* //投稿一覧 */